name: Build Nmap (Windows)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        install: >
          base-devel
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-openssl
          mingw-w64-x86_64-libpcap
          mingw-w64-x86_64-lua

    - name: Configure & build
      shell: msys2 {0}
      run: |
        export PKG_CONFIG_PATH=/mingw64/lib/pkgconfig
        ./configure --with-libpcap --without-zenmap
        make -j$(nproc)

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nmap-windows-build
        path: .
